[Unit]
Description=Detected Telegram Bot
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/pphat/pphat.me
Environment="PATH=/var/www/pphat/pphat.me/.venv/bin"
ExecStart=/var/www/pphat/pphat.me/.venv/bin/python -m app.main
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
