[Unit]
Description=Detected Bot Dashboard (NuxtJS)
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/pphat/pphat.me/dashboard
Environment="PORT=3000"
Environment="NODE_ENV=production"
ExecStart=/usr/bin/node .output/server/index.mjs
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
